#1hw
1hw/1hw-AlgorithmCAD.pdf
1hw/1hw-AlgorithmCAD.pptx
1hw/assignment1.pdf
1hw/desktop.ini
1hw/mycustomTCL/.directory
1hw/mycustomTCL/desktop.ini

#2hw
2hw/2hw-AlgorithmCAD.pdf
2hw/2hw-AlgorithmCAD.pptx
2hw/assignment2.pdf
2hw/desktop.ini
2hw/mycustomTCL/.directory
2hw/mycustomTCL/desktop.ini
2hw/lecture007-cube-calculus.pdf
2hw/ce437_2hw_Christos_Vasileiou_1983.zip
2hw/.directory

#3hw
3hw/3hw-AlgorithmCAD.pdf
3hw/3hw-AlgorithmCAD.pptx
3hw/assignment3.pdf
3hw/desktop.ini
3hw/mycustomTCL/.directory
3hw/mycustomTCL/desktop.ini
3hw/lecture007-cube-calculus.pdf
3hw/.directory
3hw/pictures/

#4hw
4hw/4hw-AlgorithmCAD.pdf
4hw/4hw-AlgorithmCAD.pptx
4hw/assignment4.pdf
4hw/desktop.ini
4hw/mycustomTCL/.directory
4hw/mycustomTCL/desktop.ini
4hw/pictures/
